
header.main-header{
  width: 100%;
  display: flex;
  padding: 10px 25px;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.096);
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

ul.navbar{
  display: flex;
  list-style: none;
}

ul.navbar li{
  margin-right: 15px;
}

.container-logo{
  width: 80px;
}

.container-logo img{
  width: 100%
}

.card-item{
  float: left;
  border: 1px solid #ababab ;
  width: 250px;
  margin: 20px 0px 0px 20px;
  box-shadow: 1px 1px 5px #0000002b ;
  border-radius: 5px;
  padding: 10px;
  text-align: center;

}

.carrito{
  width: 40px;
  height: 40px;
}